# فایل‌های پایتون
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# محیط مجازی
env/
venv/

# دیتابیس و فایل‌های محلی
db.sqlite3
*.log
.idea/

# فایل‌های استاتیک و مدیا جمع‌آوری‌شده
staticfiles/
media/

# فایل‌های حساس
*.env